@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

:root {
  /* tipografi */
  --font-family: "Inter", sans-serif;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;

  /* color */
  --background: #fafafa;
  --primary-color: #ffffff;
  --secondary-color: #84dcc6;
  --accent-color: #a5ffd6;
  --separator-color: #f6f6f6;
  --text-primary: #2e2e2e;
  --text-secondary: #707070;
  --text-ternary: #808080;
  --text-desc: #bfbfbf;
  --text-flow: #3d2b1f;
  --stroke-primary: #d1d5db;
  --stroke-secondary: #d9d9d9;
  --rank-background: #e8f6f2;
  --rank-point: #092548;
  --rank-pts: #f3f19c;
  --stats: #323a57;
  --footer-background: #0e0e0e;

  /* fontsize */
  --dp-10: 10px;
  --dp-12: 12px;
  --dp-14: 14px;
  --dp-16: 16px;
  --dp-18: 18px;
  --dp-20: 20px;
  --dp-22: 22px;
  --dp-24: 24px;
  --dp-26: 26px;
  --dp-28: 28px;
  --dp-30: 30px;
  --dp-32: 32px;
  --dp-34: 34px;
  --dp-36: 36px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
  }

  body {
    font-family: var(--font-family);
    background-color: var(--background);
  }
}
