@import "tailwindcss";
@import "tw-animate-css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@custom-variant dark (&:is(.dark *));

:root {
  /* tipografi */
  --font-family: "Inter", sans-serif;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* color */
  --background: "#FAFAFA";
  --primary-color: "#FFFFFF";
  --secondary-color: "#84DCC6";
  --accent-color: "#A5FFD6";
  --text-primary: "#2E2E2E";
  --text-secondary: "#707070";
  --text-desc: "#BFBFBF";
  --text-flow: "#3D2B1F";
  --rank-background: "#E8F6F2";
  --footer-background: "#0E0E0E";

  /* fontsize */
  --dp-10: 10px;
  --dp-12: 12px;
  --dp-14: 14px;
  --dp-16: 16px;
  --dp-18: 18px;
  --dp-20: 20px;
  --dp-22: 22px;
  --dp-24: 24px;
  --dp-26: 26px;
  --dp-28: 28px;
  --dp-30: 30px;
  --dp-32: 32px;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: var(--font-family);
  }

  body {
    font-family: var(--font-family);
  }
}
