.body {
  background-color: var(--dashboard-background);
}

.sidebar {
  width: 240px;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #d9d9d9;
  transition: transform 0.3s ease-in-out;
}

.sidebarHidden {
  transform: translateX(-100%);
}

.sidebarVisible {
  transform: translateX(0);
}

/* Dashboard.module.css */

/* Layout styles */
.container {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}

.mainContent {
  flex-grow: 1;
  margin-left: 0;
  transition: margin-left 0.3s ease;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  flex: 1;
  min-height: 100vh;
}

.mainContentShifted {
  margin-left: -240px;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboardSection {
  padding: 40px;
}

.dashboardTitle {
  font-size: 28px;
  color: #2e2e2e;
  font-weight: bold;
  margin-bottom: 15px;
}

.statsContainer {
  display: flex;
  gap: 20px;
}

.gridLayout {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 0 40px 40px;
}

.gridColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  padding: 15px;
  border-radius: 5px;
}

.cardWithPadding {
  padding: 15px 0;
}

.cardTitle {
  font-size: 24px;
  font-weight: bold;
  color: #2e2e2e;
  margin-bottom: 20px;
}

.centeredTitle {
  text-align: center;
}

.borderBottom {
  border-bottom: 1.5px solid #d9d9d9;
  padding: 0 15px;
  padding-bottom: 10px;
}

.cardContent {
  padding: 0 15px;
}

.italicText {
  font-style: italic;
  color: #999;
}

.button {
  background-color: #a5ffd6;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: var(--weight-semibold);
  cursor: pointer;
}

.tabContent {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tabTitle {
  font-size: 28px;
  color: #2e2e2e;
  font-weight: bold;
  margin-bottom: -10px;
}

.topReport {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

.summaryGrid {
  padding: 0 15px;
}

.footer {
  padding: 15px 0;
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
  text-align: center;
  margin-top: auto;
}

.footerText {
  color: #2e2e2e;
}
