.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.sectionTitle {
  color: var(--text-primary);
  font-weight: var(--weight-semibold);
  font-size: var(--dp-28);
  margin-bottom: 10px;
}

.cardArtikel {
  border: 2px solid var(--secondary-color);
  border-radius: 14px;
  padding: 25px;
  width: 315px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleArtikel {
  font-size: var(--dp-16);
  color: var(--text-primary);
  font-weight: var(--weight-semibold);
  margin: 15px 0px;
}

.descArtikel {
  font-size: var(--dp-12);
  color: #999999;
  margin: 15px 0px;
}

.listProps {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.props {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dateArtikel {
  font-size: var(--dp-12);
  font-weight: var(--weight-regular);
  color: #8a8a8a;
}

.listArtikel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x proximity;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
  scrollbar-width: none;
}

.listArtikel::-webkit-scrollbar {
  display: none;
}

.titleArticle {
  font-weight: var(--weight-semibold);
  font-size: 54px;
  color: var(--text-primary);
  line-height: 1.25;
  margin-bottom: 1px;
}

.creator {
  font-size: var(--dp-16);
  color: var(--text-primary);
  font-weight: var(--weight-medium);
}

.hero {
  display: flex;
  align-items: center;
  padding: 0 50px;
}

.leftContent {
  flex: 1;
}

.paragraph {
  padding: 0 50px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

.contentText {
  color: var(--text-primary);
  font-size: var(--dp-18);
}

.reaction {
  padding: 0 50px;
  text-align: center;
}

.askReaction {
  color: var(--text-primary);
  font-size: var(--dp-18);
  font-weight: var(--weight-semibold);
}

.containerDetail {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
